.heroContainerStyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
  padding: 15vh 15vw 5vh 15vw;
}

.imageContainerStyle {
  position: relative;
  width: 35vw;  /* Updated from 400px to 35vw */
  aspect-ratio: 1 / 1;
  box-sizing: border-box;  
}

.profileImageStyle {
  width: 40vw;  /* Reduced from 30vw */
  aspect-ratio: 1 / 1;
  background-image: url('/BrennaLogo.png');
  background-size:contain;
  background-position: center;
  position: absolute;
  top: 50%;  
  left: 50%;  
  transform: translate(-50%, -50%);  
  z-index: 2;
  padding: 1vw;
  box-sizing: border-box;  
}

.profileCircleStyle {
  width: 35vw;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: 4px solid #FFD700;
  position: absolute;
  top: 50%;  
  left: 50%;  
  transform: translate(-50%, -50%);  
  z-index: 1;
  box-sizing: border-box;  
}


.textSectionStyle {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 0 20px;
  color: black;
}

.buttonStyle {
  margin: 0 8px;
  width: 120px;  /* or any width you prefer */
  height: 40px; /* or any height you prefer */
}

/* Updated .buttonContainerStyle */
.buttonContainerStyle {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}


.text-center {
  padding-top: 4vh;
  font-size: larger;
}


/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .heroContainerStyle {
    flex-direction: column;
  }

  .imageContainerStyle {
    width: 80vw;
  }

  .profileImageStyle {
    width: 80vw;
  }

  .profileCircleStyle {
    width: 80vw;
  }

  .textSectionStyle {
    height: auto; /* Reset the height to auto so it adjusts based on the content */
  }
}
