/* About.css */

html {
  background-color:rgba(33,37,41, 1);
}

.App {
  /* white to black linear noise gradient spanning from top to bottom */
  background:
  linear-gradient(45deg, rgba(255, 165, 79, 0.5), transparent), url('noise.svg');
}

.content-wrapper {
  margin-top: 10vh;
}

.brand-text {
  font-size: x-large;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  margin-top: 10vh;
}

.container {
  width: 100%;
  max-width: 1140px;
}

.home-bio{
  font-size: larger;
  font-weight: bold;
  margin-top: 7vh; /* how far text starts below portrait  */
}

.bodyContainer {
  flex: 1;
  background-color: #228B22; /* tertiary color */
  color: white;
  text-align: center;
}

.project-item {
  transition: transform 0.5s ease;
}

.project-image-container {
  height: 40vh;      /* Height of project images */
  overflow: hidden;
}

.project-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* This will make the image cover the entire container, cropping if necessary */
}

/* App.css */
.project-card {
  margin-top: 20px; 
  transition: 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

/* Media query for resizing */
@media screen and (max-width: 768px) {
  .heroContainer {
    flex-direction: column;
    padding: 0;
  }

  .textSection,
  .profileImage {
    padding: 0;
  }
}