/* Define CSS Variables for Common Colors and Values */
:root {
  --primary-color: rgba(255, 165, 79, 0.1); /* Adjust as needed */
  --black-color: black;
  --gray-color: gray;
  --custom-link-color: #ffb778;
  --noise-background: url("/noise.svg");
}

/* Global Styles */
html,
body {
  width: 100%;
  background: linear-gradient(0deg, transparent, var(--primary-color)),
    var(--noise-background);
}

body > div {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background: linear-gradient(0deg, transparent, var(--primary-color)),
    var(--noise-background);
}

/* Specific Component Styles */
.App {
  background: linear-gradient(0deg, var(--primary-color), transparent),
    var(--noise-background);
}

.brand-text,
.nav-item,
i {
  color: var(--black-color);
}

.brand-text {
  font-size: x-large;
  font-weight: bolder;
  text-decoration: none;
}

.nav-item {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1140px;
}

.home-bio,
.vertical-timeline-element-subtitle {
  font-weight: bold;
}

.vertical-timeline-element-subtitle {
  font-style: italic;
}

.project-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
}

.project-card .card-img-top {
  object-fit: cover;
  height: 25vh;
  width: 100%;
}

.project-card .card-body .badge {
  flex-grow: 1;
  margin-right: 10px;
  margin-bottom: 5px;
}

.project-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.custom-link,
.custom-link:hover {
  color: var(--custom-link-color);
  text-decoration: none;
}

.custom-link:hover {
  text-decoration: underline;
}

.noTextDecoration {
  text-decoration: none;
  color: var(--gray-color);
}

i:hover {
  color: var(--gray-color);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .heroContainer {
    flex-direction: column;
    padding: 0;
  }

  .textSection,
  .profileImage {
    padding: 0;
  }
}
